@media screen and (max-width: 600px){
    section.images{
        width: 90%;
    }
    #cow{
        width: 70px;
        height: 70px;
    }
    .baku_city{
        height: 90px;
        left: 30%;
    }
    .baku_name{
        font-size: 16px;
    }
    #comment{
        width: 100px;
        height: 40px;
        z-index: 150;
    }

}